.coin {
    border: 4px solid #9e9e9e;
    border-radius: 100%;
    height: 65px;
    width: 65px;
    transition-duration: 250ms;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #9e9e9e;

        &>p {
            color: white
        }
    }


}

.tenCoin:hover {
    & .tenCoinInner {
        background-color: #fdd835;

        & p {
            color: white
        }
    }
}

.tenCoinInner {
    border: 3.5px solid #fdd835;
    height: 50px;
    width: 50px;
    position: absolute;
}

.coinN {
    transition-duration: 250ms;
    color: #9e9e9e;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    position: absolute;

    &::selection {
        background: none;
    }
}

.coinNTen {
    color: #fdd835;
    font-size: 1.75rem;
}