@import '../../var.scss';

.prodCol {
    text-align: center;
    padding: 15px;

    & * {
        max-width: 100%;
    }

    & img {
        margin: auto;
    }

    & p {
        margin: auto;
        margin-bottom: 1rem;
    }
}

.imgWarpper {
    display: flex;
    justify-items: center;
    background-color: #f7f7f7;
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    .container {
        overflow-y: scroll;
    }

    .containerWrapper {
        height: 100vh;
    }

}

.display {
    padding-bottom: 50px;
}

.containerWrapper {
    display: flex;
    padding: 20px 5px;
}

.container {
    @include machine-border;
}

.prodBox {
    @include machine-border;
    padding: 20px;
}

.disabled {
    pointer-events: none;
}