@import '../../var.scss';

.flexbox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stylizedbox {
    padding: 20px;
    @include machine-border;
}

.moneyDisp {
    border: 5px solid #000000;
    border-radius: 20px;
    background-color: #000;
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;

    & p {
        text-align: right;
        margin: 0 10px;
    }

}

.coinWrap {
    margin: 0 5px;
}

.coinInsert {
    @include machine-border;
    max-width: 100px;
    height: 18px;
    background-color: black;
    margin: 20px 0;
}

.coinReturn {
    @include machine-border;
    width: 100px;
    height: 80px;
    background-color: #f0f0f0;
}

.trayPart {
    display: flex;
    justify-content: space-evenly;

    &>div {
        padding: 10px 10px 0 10px;
    }
}

.rightPart {
    display: flex;
    justify-content: center;

    #return_btn {
        margin: auto;
    }
}

.coinInput {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.containbox {
    flex: 0 2 auto;
    padding: 20px;
}

.marginBreak {
    margin: 0 5px;
}