@import '../../var.scss';

.flexbox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stylizedbox {
    padding: 20px;
    @include machine-border;

    &::before {
        content: "▼Coin insert";
        position: absolute;
        transform: translate(-5px, -40px);
        font-size: 0.75rem;
        color: $machine-border-color;
        font-family: $bffont;
    }
}

.moneyDisp {
    border: 5px solid #000000;
    border-radius: 20px;
    background-color: #000;
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;

    & p {
        text-align: right;
        margin: 0 10px;
    }

    &::before {
        content: "▼Money";
        position: absolute;
        transform: translate(15px, -20px);
        font-size: 0.75rem;
        color: black;
        font-family: $bffont;
    }

}

.coinWrap {
    margin: 0 5px;
}

.coinInsert {
    @include machine-border;
    max-width: 100px;
    height: 18px;
    background-color: black;
    margin: 20px 0;

    &::before {
        content: "▼Insert Coin Here";
        position: absolute;
        transform: translate(0, -22px);
        font-size: 0.75rem;
        color: $machine-border-color;
        font-family: $bffont;
    }
}

.coinReturn {
    @include machine-border;
    width: 100px;
    height: 80px;
    background-color: #f0f0f0;

    &::before {
        content: "▼Coin Change";
        position: absolute;
        transform: translate(0, -22px);
        font-size: 0.75rem;
        color: $machine-border-color;
        font-family: $bffont;
    }
}

.trayPart {
    display: flex;
    justify-content: space-evenly;

    &>div {
        padding: 0 10px;
    }
}

.rightPart {
    display: flex;
    justify-content: center;

    #return_btn {
        margin: auto;
    }
}

.coinInput {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    &.first::before {
        content: "Coin Select";
        position: absolute;
        transform: translate(0, -17px);
        font-size: 0.75rem;
        color: $machine-border-color;
        font-family: $bffont;
    }
}

.containbox {
    flex: 0 2 auto;
    padding: 25px 20px 20px 20px;
}

.marginBreak {
    margin: 0 5px;
}